In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
import spacy
import string

In [2]:
comments_train = pd.read_csv('Train Data.csv')
comments_train

                                               Comment Language  Sentiment
0                               CURVES GRADES hehehehe       en          1
1                        masters the lesson perfectly.       en          1
2        She is very terror but she teaches very well!       en          1
3    Unenthusiastic, can barely understand what is ...       en         -1
4                                       not applicable       en          0
..                                                 ...      ...        ...
660  Malimit siyang magtanong kaya bagsak ang maram...     tlen         -1
661  tas in our first quiz, multiple choice kaso wa...     tlen         -1
662   Lagi niya sineset ang mood sa classroom ambiance     tlen          1
663                Malabo magbigay ng mga requirements     tlen         -1
664  Kahit religion subject she is still open to id...     tlen          1

[665 rows x 3 columns]

In [3]:
comments_test = pd.read_csv('Test Data.csv')
comments_test

                                              Comment Language  Sentiment
0                  binabasa lang niya ang powerpoint.     tlen         -1
1   Chill and laid back style of teaching. Maayos ...     tlen          1
2   He said, "we are the cod fish, he's the whale....       en          1
3   Punctual professor. Gives importance and rewar...       en          1
4     Her jokes are sometimes funny and sometimes not       en          0
..                                                ...      ...        ...
69         She treats her students like her children.       en          1
70                                         No comment       en          0
71                                    Always overtime       en         -1
72  Good atmosphere for learning. Helped us unders...       en          1
73  Magaling na prof sa MATH, bago magproceed sa s...     tlen          1

[74 rows x 3 columns]

## Convert to lowercase

In [4]:
comments_train["Comment"]= comments_train["Comment"].str.lower()
comments_train

                                               Comment Language  Sentiment
0                               curves grades hehehehe       en          1
1                        masters the lesson perfectly.       en          1
2        she is very terror but she teaches very well!       en          1
3    unenthusiastic, can barely understand what is ...       en         -1
4                                       not applicable       en          0
..                                                 ...      ...        ...
660  malimit siyang magtanong kaya bagsak ang maram...     tlen         -1
661  tas in our first quiz, multiple choice kaso wa...     tlen         -1
662   lagi niya sineset ang mood sa classroom ambiance     tlen          1
663                malabo magbigay ng mga requirements     tlen         -1
664  kahit religion subject she is still open to id...     tlen          1

[665 rows x 3 columns]

In [5]:
comments_test["Comment"]= comments_test["Comment"].str.lower()
comments_test

                                              Comment Language  Sentiment
0                  binabasa lang niya ang powerpoint.     tlen         -1
1   chill and laid back style of teaching. maayos ...     tlen          1
2   he said, "we are the cod fish, he's the whale....       en          1
3   punctual professor. gives importance and rewar...       en          1
4     her jokes are sometimes funny and sometimes not       en          0
..                                                ...      ...        ...
69         she treats her students like her children.       en          1
70                                         no comment       en          0
71                                    always overtime       en         -1
72  good atmosphere for learning. helped us unders...       en          1
73  magaling na prof sa math, bago magproceed sa s...     tlen          1

[74 rows x 3 columns]

## Remove Numbers

In [6]:
comments_train['Comment'] = comments_train['Comment'].str.replace('\d+', '', regex=True)
comments_train

                                               Comment Language  Sentiment
0                               curves grades hehehehe       en          1
1                        masters the lesson perfectly.       en          1
2        she is very terror but she teaches very well!       en          1
3    unenthusiastic, can barely understand what is ...       en         -1
4                                       not applicable       en          0
..                                                 ...      ...        ...
660  malimit siyang magtanong kaya bagsak ang maram...     tlen         -1
661  tas in our first quiz, multiple choice kaso wa...     tlen         -1
662   lagi niya sineset ang mood sa classroom ambiance     tlen          1
663                malabo magbigay ng mga requirements     tlen         -1
664  kahit religion subject she is still open to id...     tlen          1

[665 rows x 3 columns]

In [7]:
comments_test['Comment'] = comments_test['Comment'].str.replace('\d+', '', regex=True)
comments_test

                                              Comment Language  Sentiment
0                  binabasa lang niya ang powerpoint.     tlen         -1
1   chill and laid back style of teaching. maayos ...     tlen          1
2   he said, "we are the cod fish, he's the whale....       en          1
3   punctual professor. gives importance and rewar...       en          1
4     her jokes are sometimes funny and sometimes not       en          0
..                                                ...      ...        ...
69         she treats her students like her children.       en          1
70                                         no comment       en          0
71                                    always overtime       en         -1
72  good atmosphere for learning. helped us unders...       en          1
73  magaling na prof sa math, bago magproceed sa s...     tlen          1

[74 rows x 3 columns]

## Convert :) :( into string labels

In [8]:
comments_train['Comment'] = comments_train['Comment'].str.replace(":\)", "h1a2p3p4y5", regex=True)
comments_train['Comment'] = comments_train['Comment'].str.replace(":\(", "s6a7d8", regex=True)

In [9]:
comments_test['Comment'] = comments_test['Comment'].str.replace(":\)", "h1a2p3p4y5", regex=True)
comments_test['Comment'] = comments_test['Comment'].str.replace(":\(", "s6a7d8", regex=True)

## Remove punctuation marks

In [11]:
comments_train['Comment'] = comments_train['Comment'].str.replace('[^\w\s]','', regex=True)
comments_test['Comment'] = comments_test['Comment'].str.replace('[^\w\s]','', regex=True)

## Convert string labels back to :) :(

In [13]:
comments_train['Comment'] = comments_train['Comment'].str.replace("h1a2p3p4y5", ":)", regex=True)
comments_train['Comment'] = comments_train['Comment'].str.replace("s6a7d8", ":(", regex=True)

In [14]:
comments_test['Comment'] = comments_test['Comment'].str.replace("h1a2p3p4y5", ":)", regex=True)
comments_test['Comment'] = comments_test['Comment'].str.replace("s6a7d8", ":(", regex=True)

## Remove Stopwords

In [16]:
#nltk.download_shell()

In [23]:
en_stop_nltk = set(stopwords.words('english'))
from spacy.lang.en.stop_words import STOP_WORDS as en_STOP_WORDS
from spacy.lang.tl.stop_words import STOP_WORDS as tl_STOP_WORDS

temp = en_stop_nltk.union(en_STOP_WORDS)
temp = temp.union(tl_STOP_WORDS)
temp

{"'d",
 "'ll",
 "'m",
 "'re",
 "'s",
 "'ve",
 'a',
 'about',
 'above',
 'across',
 'after',
 'afterwards',
 'again',
 'against',
 'ain',
 'akin',
 'aking',
 'ako',
 'alin',
 'all',
 'almost',
 'alone',
 'along',
 'already',
 'also',
 'although',
 'always',
 'am',
 'amin',
 'aming',
 'among',
 'amongst',
 'amount',
 'an',
 'and',
 'ang',
 'ano',
 'another',
 'anumang',
 'any',
 'anyhow',
 'anyone',
 'anything',
 'anyway',
 'anywhere',
 'apat',
 'are',
 'aren',
 "aren't",
 'around',
 'as',
 'at',
 'atin',
 'ating',
 'ay',
 'bababa',
 'back',
 'bago',
 'bakit',
 'bawat',
 'be',
 'became',
 'because',
 'become',
 'becomes',
 'becoming',
 'been',
 'before',
 'beforehand',
 'behind',
 'being',
 'below',
 'beside',
 'besides',
 'between',
 'beyond',
 'bilang',
 'both',
 'bottom',
 'but',
 'by',
 'ca',
 'call',
 'can',
 'cannot',
 'could',
 'couldn',
 "couldn't",
 'd',
 'dahil',
 'dalawa',
 'dapat',
 'did',
 'didn',
 "didn't",
 'din',
 'dito',
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'done',
 'doon',
 'down',
 'due',
 'during',
 'each',
 'eight',
 'either',
 'eleven',
 'else',
 'elsewhere',
 'empty',
 'enough',
 'even',
 'ever',
 'every',
 'everyone',
 'everything',
 'everywhere',
 'except',
 'few',
 'fifteen',
 'fifty',
 'first',
 'five',
 'for',
 'former',
 'formerly',
 'forty',
 'four',
 'from',
 'front',
 'full',
 'further',
 'gagawin',
 'gayunman',
 'get',
 'ginagawa',
 'ginawa',
 'ginawang',
 'give',
 'go',
 'gumawa',
 'gusto',
 'habang',
 'had',
 'hadn',
 "hadn't",
 'hanggang',
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'hence',
 'her',
 'here',
 'hereafter',
 'hereby',
 'herein',
 'hereupon',
 'hers',
 'herself',
 'him',
 'himself',
 'hindi',
 'his',
 'how',
 'however',
 'hundred',
 'huwag',
 'i',
 'iba',
 'ibaba',
 'ibabaw',
 'ibig',
 'if',
 'ikaw',
 'ilagay',
 'ilalim',
 'ilan',
 'in',
 'indeed',
 'into',
 'inyong',
 'is',
 'isa',
 'isang',
 'isn',
 "isn't",
 'it',
 "it's",
 'itaas',
 'ito',
 'its',
 'itself',
 'iyo',
 'iyon',
 'iyong',
 'just',
 'ka',
 'kahit',
 'kailangan',
 'kailanman',
 'kami',
 'kanila',
 'kanilang',
 'kanino',
 'kanya',
 'kanyang',
 'kapag',
 'kapwa',
 'karamihan',
 'katiyakan',
 'katulad',
 'kaya',
 'kaysa',
 'keep',
 'ko',
 'kong',
 'kulang',
 'kumuha',
 'kung',
 'laban',
 'lahat',
 'lamang',
 'last',
 'latter',
 'latterly',
 'least',
 'less',
 'likod',
 'lima',
 'll',
 'm',
 'ma',
 'maaari',
 'maaaring',
 'made',
 'maging',
 'mahusay',
 'make',
 'makita',
 'many',
 'marami',
 'marapat',
 'masyado',
 'may',
 'mayroon',
 'me',
 'meanwhile',
 'mga',
 'might',
 'mightn',
 "mightn't",
 'mine',
 'minsan',
 'mismo',
 'more',
 'moreover',
 'most',
 'mostly',
 'move',
 'much',
 'mula',
 'muli',
 'must',
 'mustn',
 "mustn't",
 'my',
 'myself',
 "n't",
 'na',
 'nabanggit',
 'naging',
 'nagkaroon',
 'nais',
 'nakita',
 'name',
 'namely',
 'namin',
 'napaka',
 'narito',
 'nasaan',
 'needn',
 "needn't",
 'neither',
 'never',
 'nevertheless',
 'next',
 'ng',
 'ngayon',
 'ni',
 'nila',
 'nilang',
 'nine',
 'nito',
 'niya',
 'niyang',
 'no',
 'nobody',
 'none',
 'noon',
 'noone',
 'nor',
 'not',
 'nothing',
 'now',
 'nowhere',
 'n‘t',
 'n’t',
 'o',
 'of',
 'off',
 'often',
 'on',
 'once',
 'one',
 'only',
 'onto',
 'or',
 'other',
 'others',
 'otherwise',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 'pa',
 'paano',
 'pababa',
 'paggawa',
 'pagitan',
 'pagkakaroon',
 'pagkatapos',
 'palabas',
 'pamamagitan',
 'panahon',
 'pangalawa',
 'para',
 'paraan',
 'pareho',
 'part',
 'pataas',
 'per',
 'perhaps',
 'pero',
 'please',
 'pumunta',
 'pumupunta',
 'put',
 'quite',
 'rather',
 're',
 'really',
 'regarding',
 's',
 'sa',
 'saan',
 'sabi',
 'sabihin',
 'same',
 'sarili',
 'say',
 'see',
 'seem',
 'seemed',
 'seeming',
 'seems',
 'serious',
 'several',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'show',
 'side',
 'sila',
 'since',
 'sino',
 'six',
 'sixty',
 'siya',
 'so',
 'some',
 'somehow',
 'someone',
 'something',
 'sometime',
 'sometimes',
 'somewhere',
 'still',
 'such',
 't',
 'take',
 'tatlo',
 'tayo',
 'ten',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'thence',
 'there',
 'thereafter',
 'thereby',
 'therefore',
 'therein',
 'thereupon',
 'these',
 'they',
 'third',
 'this',
 'those',
 'though',
 'three',
 'through',
 'throughout',
 'thru',
 'thus',
 'to',
 'together',
 'too',
 'top',
 'toward',
 'towards',
 'tulad',
 'tungkol',
 'twelve',
 'twenty',
 'two',
 'una',
 'under',
 'unless',
 'until',
 'up',
 'upon',
 'us',
 'used',
 'using',
 'various',
 've',
 'very',
 'via',
 'walang',
 'was',
 'wasn',
 "wasn't",
 'we',
 'well',
 'were',
 'weren',
 "weren't",
 'what',
 'whatever',
 'when',
 'whence',
 'whenever',
 'where',
 'whereafter',
 'whereas',
 'whereby',
 'wherein',
 'whereupon',
 'wherever',
 'whether',
 'which',
 'while',
 'whither',
 'who',
 'whoever',
 'whole',
 'whom',
 'whose',
 'why',
 'will',
 'with',
 'within',
 'without',
 'won',
 "won't",
 'would',
 'wouldn',
 "wouldn't",
 'y',
 'yet',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves',
 '‘d',
 '‘ll',
 '‘m',
 '‘re',
 '‘s',
 '‘ve',
 '’d',
 '’ll',
 '’m',
 '’re',
 '’s',
 '’ve'}

In [24]:
valid_stopwords = {'against','although',"aren't",'but','cannot','couldn',"couldn't",'didn',"didn't",'doesn',"doesn't",'don',"don't",'hadn',"hadn't",'hasn',"hasn't",'haven',"haven't",'hindi','however','isn',"isn't",'least','mahusay','mightn',"mightn't",'mustn', "mustn't", 'needn',"needn't",'neither','never','nevertheless','no','nobody','none', 'nor','not','shan',"shan't",'shouldn',"shouldn't",'walang', 'wasn',"wasn't",'weren', "weren't",'well','won',"won't",'wouldn',"wouldn't",'yet'}
stopwords_all = [word for word in temp if word not in valid_stopwords]
stopwords_all = list(stopwords_all)
stopwords_all

['another',
 'ikaw',
 'kanino',
 'empty',
 'also',
 'ain',
 'pagkakaroon',
 'nilang',
 'where',
 'them',
 'done',
 'ano',
 'doon',
 'several',
 'amin',
 'alin',
 'many',
 'amount',
 'gagawin',
 'has',
 'became',
 'nowhere',
 'how',
 'are',
 'a',
 'in',
 'within',
 'n‘t',
 'first',
 'would',
 'hereupon',
 'kanyang',
 'hers',
 'your',
 'please',
 "you'd",
 'i',
 'whose',
 'whereupon',
 'gayunman',
 'next',
 'hereafter',
 'whatever',
 'each',
 'to',
 'full',
 'kanilang',
 'itself',
 'yourself',
 'others',
 'regarding',
 "you're",
 'mostly',
 'itaas',
 'seemed',
 "you've",
 'you',
 'have',
 'any',
 'may',
 'dapat',
 'kanila',
 'sarili',
 'thereby',
 'move',
 'name',
 'again',
 'kaya',
 'were',
 "'ve",
 'whenever',
 're',
 'o',
 "'m",
 'does',
 'kulang',
 'gumawa',
 'napaka',
 'noon',
 'us',
 'habang',
 'though',
 'thereupon',
 'perhaps',
 'should',
 'sabihin',
 'front',
 'behind',
 'maging',
 'her',
 'will',
 'panahon',
 'because',
 'above',
 've',
 'thus',
 "should've",
 '‘re',
 'lima',
 'pareho',
 'karamihan',
 'kapwa',
 '‘d',
 'huwag',
 'very',
 'anyway',
 'forty',
 'mine',
 'toward',
 'until',
 'same',
 "'ll",
 'at',
 'seeming',
 '’m',
 'y',
 'am',
 'since',
 'having',
 'that',
 "you'll",
 'dito',
 'ever',
 'when',
 'ginawa',
 'anumang',
 'iba',
 'why',
 'besides',
 'anyhow',
 'bababa',
 'narito',
 'which',
 'fifty',
 'down',
 'ginawang',
 'mismo',
 'up',
 'together',
 'thence',
 'katulad',
 'yours',
 'between',
 'eleven',
 'ilalim',
 'namely',
 'amongst',
 'una',
 'ibaba',
 'of',
 'kumuha',
 'from',
 'across',
 'whereas',
 'afterwards',
 'noone',
 'ating',
 'ko',
 'an',
 'whither',
 'third',
 'there',
 'both',
 'ngayon',
 'last',
 'anything',
 'kaysa',
 'using',
 'through',
 'kung',
 'paano',
 'along',
 'and',
 'anywhere',
 'minsan',
 'tungkol',
 'might',
 'him',
 'bottom',
 'tulad',
 'call',
 'na',
 'more',
 'everyone',
 'even',
 'twenty',
 'ako',
 'aming',
 'they',
 'whoever',
 'anyone',
 'this',
 'whereafter',
 'five',
 'become',
 'while',
 'therein',
 'our',
 'then',
 'such',
 'either',
 'gusto',
 'elsewhere',
 'go',
 'lahat',
 'kong',
 'dahil',
 'meanwhile',
 'if',
 'too',
 'ten',
 'ang',
 'apat',
 'bawat',
 'must',
 'pamamagitan',
 'muli',
 'pababa',
 'pagkatapos',
 'some',
 'ourselves',
 'less',
 'aren',
 'unless',
 'always',
 'ay',
 'kanya',
 'already',
 'thru',
 'iyo',
 'really',
 '‘s',
 'theirs',
 'becomes',
 'niyang',
 'being',
 'sino',
 'isang',
 "she's",
 'much',
 'd',
 'ma',
 'paraan',
 'rather',
 'laban',
 'upon',
 "'re",
 'pa',
 'by',
 '’d',
 'pero',
 'kailangan',
 'onto',
 'his',
 'sometime',
 'wherever',
 'we',
 'it',
 'few',
 'naging',
 'via',
 'here',
 'seem',
 'lamang',
 'tatlo',
 'doing',
 'hereby',
 'latter',
 'nasaan',
 '’s',
 "that'll",
 'hence',
 'is',
 'show',
 'sila',
 'somewhere',
 'saan',
 'get',
 'bakit',
 'paggawa',
 'only',
 'formerly',
 'ito',
 'dalawa',
 'masyado',
 'ginagawa',
 'or',
 'themselves',
 'now',
 'yourselves',
 'ibig',
 'the',
 'except',
 'was',
 'eight',
 'one',
 'aking',
 'just',
 'll',
 'whether',
 'kapag',
 'bago',
 'can',
 'moreover',
 'otherwise',
 'often',
 'under',
 'say',
 "'d",
 'into',
 'former',
 "it's",
 'make',
 'someone',
 'off',
 'iyong',
 'kailanman',
 'marami',
 'sabi',
 'wherein',
 'm',
 'almost',
 'somehow',
 '‘ll',
 'beforehand',
 'maaari',
 'been',
 'for',
 'n’t',
 'nothing',
 'whole',
 'nakita',
 'mula',
 'herself',
 'other',
 'their',
 'maaaring',
 'whence',
 'pagitan',
 'tayo',
 'without',
 'niya',
 'out',
 'about',
 'throughout',
 'myself',
 'what',
 'isa',
 'ibabaw',
 'still',
 'siya',
 'used',
 'enough',
 "'s",
 'hanggang',
 'whom',
 'keep',
 'below',
 '’ll',
 'ilagay',
 'sa',
 'palabas',
 'various',
 'due',
 'see',
 'part',
 'pumupunta',
 'pangalawa',
 'give',
 'herein',
 'nito',
 'ca',
 'put',
 'do',
 'akin',
 'hundred',
 'nila',
 'four',
 't',
 'all',
 'back',
 'during',
 'whereby',
 'after',
 'than',
 'every',
 'everywhere',
 'iyon',
 'could',
 'six',
 'ka',
 'beyond',
 'made',
 'indeed',
 'something',
 'marapat',
 'inyong',
 'thereafter',
 'most',
 'makita',
 'ni',
 'me',
 'everything',
 'nine',
 'once',
 'else',
 'namin',
 'pumunta',
 'quite',
 'before',
 'twelve',
 'sometimes',
 'para',
 'ng',
 'fifteen',
 'alone',
 'take',
 'himself',
 'serious',
 'mayroon',
 'top',
 'din',
 'likod',
 'these',
 '‘m',
 'two',
 'kahit',
 'katiyakan',
 'three',
 'mga',
 'pataas',
 'among',
 'she',
 'own',
 'nabanggit',
 'be',
 'he',
 'those',
 '’re',
 'further',
 'becoming',
 'latterly',
 'side',
 'therefore',
 'ours',
 'my',
 'sixty',
 'did',
 'on',
 'seems',
 'its',
 'nagkaroon',
 'ilan',
 'nais',
 'around',
 'kami',
 'had',
 'atin',
 'bilang',
 "n't",
 'with',
 'as',
 'over',
 's',
 '’ve',
 'who',
 'so',
 '‘ve',
 'towards',
 'per',
 'beside']

In [25]:
comments_train['Comment'] = comments_train['Comment'].apply(lambda x:' '.join([word for word in x.split() if word not in stopwords_all]))
comments_train

                                               Comment Language  Sentiment
0                               curves grades hehehehe       en          1
1                             masters lesson perfectly       en          1
2                              terror but teaches well       en          1
3              unenthusiastic barely understand taught       en         -1
4                                       not applicable       en          0
..                                                 ...      ...        ...
660         malimit siyang magtanong bagsak recitation     tlen         -1
661  tas quiz multiple choice kaso wala projector i...     tlen         -1
662               lagi sineset mood classroom ambiance     tlen          1
663                       malabo magbigay requirements     tlen         -1
664  religion subject open ideas not traditional ca...     tlen          1

[665 rows x 3 columns]

In [26]:
comments_test['Comment'] = comments_test['Comment'].apply(lambda x:' '.join([word for word in x.split() if word not in stopwords_all]))
comments_test

                                              Comment Language  Sentiment
0                            binabasa lang powerpoint     tlen         -1
1     chill laid style teaching maayos rin chill lang     tlen          1
2   said cod fish hes whale stay alive escape your...       en          1
3   punctual professor gives importance rewards st...       en          1
4                                     jokes funny not       en          0
..                                                ...      ...        ...
69                      treats students like children       en          1
70                                         no comment       en          0
71                                           overtime       en         -1
72  good atmosphere learning helped understand cou...       en          1
73  magaling prof math magproceed susunod topic na...     tlen          1

[74 rows x 3 columns]

## Lemmatization

In [27]:
#nltk.download(wordnet)

In [28]:
#remove the verb and adjective object if pos should only be default (noun)

w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text, lang):
    if lang == "en":
        verb = " ".join([lemmatizer.lemmatize(w, pos="v") for w in w_tokenizer.tokenize(text)])
        adjective = " ".join([lemmatizer.lemmatize(w, pos="a") for w in w_tokenizer.tokenize(verb)])
        return " ".join([lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(adjective)])
    else:
        return text

comments_train['Comment'] = comments_train.apply(lambda x: lemmatize_text(x['Comment'], x['Language']), axis=1)
comments_test['Comment'] = comments_test.apply(lambda x: lemmatize_text(x['Comment'], x['Language']),axis=1)

In [29]:
pd.set_option('display.max_colwidth', 80)
comments_test

,Comment,Language,Sentiment
0,binabasa lang powerpoint,tlen,-1
1,chill laid style teaching maayos rin chill lang,tlen,1
2,say cod fish he whale stay alive escape youre gonna good cod fish inspire st...,en,1
3,punctual professor give importance reward student complete attendance,en,1
4,joke funny not,en,0
...,...,...,...
69,treat student like child,en,1
70,no comment,en,0
71,overtime,en,-1
72,good atmosphere learn help understand course easy simplify miss sir,en,1
73,magaling prof math magproceed susunod topic nagbibigay reallife examples mas...,tlen,1

In [30]:
pd.set_option('display.max_colwidth', 80)
comments_train

,Comment,Language,Sentiment
0,curve grade hehehehe,en,1
1,master lesson perfectly,en,1
2,terror but teach well,en,1
3,unenthusiastic barely understand teach,en,-1
4,not applicable,en,0
...,...,...,...
660,malimit siyang magtanong bagsak recitation,tlen,-1
661,tas quiz multiple choice kaso wala projector identification,tlen,-1
662,lagi sineset mood classroom ambiance,tlen,1
663,malabo magbigay requirements,tlen,-1
664,religion subject open ideas not traditional catholic beliefs,tlen,1

## Remove one letter words

In [33]:
comments_test["Comment"] = comments_test['Comment'].str.replace(r'\b\w\b', '', regex=True).str.replace(r'\s+', ' ', regex=True)
comments_train["Comment"] = comments_train['Comment'].str.replace(r'\b\w\b', '', regex=True).str.replace(r'\s+', ' ', regex=True)

In [36]:
 comments_test

,Comment,Language,Sentiment
0,binabasa lang powerpoint,tlen,-1
1,chill laid style teaching maayos rin chill lang,tlen,1
2,say cod fish he whale stay alive escape youre gonna good cod fish inspire st...,en,1
3,punctual professor give importance reward student complete attendance,en,1
4,joke funny not,en,0
...,...,...,...
69,treat student like child,en,1
70,no comment,en,0
71,overtime,en,-1
72,good atmosphere learn help understand course easy simplify miss sir,en,1
73,magaling prof math magproceed susunod topic nagbibigay reallife examples mas...,tlen,1

In [37]:
 comments_train

,Comment,Language,Sentiment
0,curve grade hehehehe,en,1
1,master lesson perfectly,en,1
2,terror but teach well,en,1
3,unenthusiastic barely understand teach,en,-1
4,not applicable,en,0
...,...,...,...
660,malimit siyang magtanong bagsak recitation,tlen,-1
661,tas quiz multiple choice kaso wala projector identification,tlen,-1
662,lagi sineset mood classroom ambiance,tlen,1
663,malabo magbigay requirements,tlen,-1
664,religion subject open ideas not traditional catholic beliefs,tlen,1

In [40]:
comments_train.to_csv('cleaned_train_data.csv', index=False)
comments_test.to_csv('cleaned_test_data.csv', index=False)